
@{
    ViewBag.Title = "VistaListaPersonas";
}



<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <h2>VistaListaPersonas</h2>
    <form action="https://www.google.com" method="POST">
        <label for="nombre"></label>
        <input type="text" name="nombre">

        <input type="submit">

    </form>



    <table border="1">
        <thead>
        <th>
            ID
        </th>
        <th>
            Nombre
        </th>
        </thead>


        <tbody>
            <tr>
                <td>
                </td>

                <td>
                </td>

            </tr>
        </tbody>

    </table>



</body>

</html>